<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="main">
  <div class="w3-content w3-justify w3-text-grey">
    <div id="logo">
      <img src="../assets/images/logo.png" width="40px" align="left">
      <h2 class="w3-text-dark-grey" align="right">Playlister</h2>
    </div>
    <app-video></app-video>

    <div style="margin-top: 50px;">
      <a href="https://github.com/EspenSchei/playlister" target="_blank">
        <img src="../assets/images/Octocat.png" width="30px" align="left" style="margin-left: 800px;">
        <p align="right">Playlister on GitHub</p>
      </a>
    </div>

  </div>
</div>
